<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- CONNECTION -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://rd.promptnow.com:3306/trainee</property>
        <property name="hibernate.connection.username">trainee</property>
        <property name="hibernate.connection.password">trainee2016</property>
        <!-- END CONECTION -->
        
        <!-- PROPERTIES -->
        <property name="show_sql">true</property>
        <property name="dialet">Database dialet class</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!-- END PROPERTIES -->
        
        <!--MAPPING FILE -->
        <mapping resource="ModelLocation.hbm.xml"/>
        <mapping resource="ModelAbbrevilation.hbm.xml"/>
        <!--END MAPPING FILE -->
    </session-factory>
</hibernate-configuration>
